body{
    background-color:chocolate;
}
.container{
    margin: 0 auto;
    width: 590px;
}
.btn{
    text-decoration: none;
    color: white;
}
.btn > a{
    color: white;
    text-decoration: none;
}
.btn > a:hover{
    color: red;
    text-decoration: none;
    transition: .2s;
}
